mock_opportunities/Opportunity Drafting 7 day and buffers.json
{
  "name": "Opportunity Drafting 7 day and buffers",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 0-7 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1408,
        480
      ],
      "id": "3f6369fa-d6a7-4404-8675-a29f48eda61d",
      "name": "00-08, Mon-Fri3",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 0-7 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        608
      ],
      "id": "0282bc39-cf82-49d9-9541-e3d65a28da8d",
      "name": "00-08, Mon-Fri",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 0-7 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1280,
        768
      ],
      "id": "edab88c0-0358-470a-b4b6-cce3fd339fe9",
      "name": "00-08, Mon-Fri4",
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.Link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8"
            },
            {
              "name": "Accept-Language",
              "value": "en-GB,en-US;q=0.9,en;q=0.8"
            },
            {
              "name": "Accept-Encoding",
              "value": "gzip, deflate, br"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            },
            {
              "name": "Sec-Fetch-Dest",
              "value": "document"
            },
            {
              "name": "Sec-Fetch-Mode",
              "value": "navigate"
            },
            {
              "name": "Sec-Fetch-Site",
              "value": "none"
            },
            {
              "name": "Sec-Fetch-User",
              "value": "?1"
            },
            {
              "name": "Upgrade-Insecure-Requests",
              "value": "1"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true,
          "redirect": {
            "redirect": {
              "maxRedirects": 5
            }
          },
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        704,
        1568
      ],
      "id": "220d471f-9fa4-4cd7-b855-f88102874c4b",
      "name": "Get URL",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1m-L1I8x4AFvQwXNnLpr5DmQYl4L0ivNVddDk-BBV2dU/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-L1I8x4AFvQwXNnLpr5DmQYl4L0ivNVddDk-BBV2dU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "To upload"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        480,
        1568
      ],
      "id": "68774424-6dcb-4aa1-beef-a8e5efee7d9b",
      "name": "Get To Upload",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HcWauGdX0uTMT6CH",
          "name": "ERIC - tech@meet-eric.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1m-L1I8x4AFvQwXNnLpr5DmQYl4L0ivNVddDk-BBV2dU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-L1I8x4AFvQwXNnLpr5DmQYl4L0ivNVddDk-BBV2dU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get To Upload').item.json.row_number }}",
            "Status": "Drafted",
            "Document Name": "={{ $('Extract Data').item.json.output.FriendlyName }}.txt"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Opportunity",
              "displayName": "Opportunity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Document Name",
              "displayName": "Document Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Document Link",
              "displayName": "Document Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1648,
        1424
      ],
      "id": "78e3f6f6-c8c5-45d3-89b4-ce4a457ce6df",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HcWauGdX0uTMT6CH",
          "name": "ERIC - tech@meet-eric.com"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract ALL the relevant data for the opportunity\n\nCreate a 'Friendly Name'. It must be between 2-4 words long, each word separated by a hyphen. The Friendly Name MUST include something unique and distinguishable - prioritise using the company name, organisation name, brand name, or venue name from the opportunity. Combine it with a short descriptor of what the opportunity is (e.g. 'BBC-Writing-Internship', 'Albany-Pizza-Pitches', 'Channel4-Runner-Role', 'Roundhouse-Music-Course'). Do NOT use generic names like 'Creative-Opportunity' or 'London-Event'. Use the URL, page content, and opportunity type to identify the unique name.\n\nHere is opportunity type: {{ $('Get To Upload').item.json.Opportunity }}\nHere is the URL of the opportunity {{ $('Get To Upload').item.json.Link }}\nHere is the content of the opportunity: {{ $('Get URL').item.json.data }}\n\nIMPORTANT OVERRIDE RULES (these take priority over the opportunity type provided above):\n1. If the URL contains 'eventbrite.com' or 'eventbrite.co.uk', the Category MUST be 'Event' and you MUST use the Events expected output format. Ignore the opportunity type provided.\n2. Only use Industry tags from the approved list in the system prompt. Do NOT invent new tags.\n\n# Expected Output\n-FriendlyName: The result of the friendly name you have created\n-Output: ALL the relevant data for the opportunity. This must be in a string format, not JSON. IMPORTANT: The very first line of the Output MUST be 'Category: ' followed by the correct category. The Category value must be one of the following: Apprenticeship, Competition/Grant, Course, Freelance role, Internship, Junior full-time role, Junior part-time role, Mentoring, Opportunity, Runner role, Training scheme, Work experience, Event, Content or Resources, Article, Podcast, Video, Guide. Apply the override rules above first, otherwise use the opportunity type provided to determine the correct category.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a copywriting assistant trained to extract key information for creative career opportunities for young people aged 16–25. \n\nWhen given a website text or a block of text about a creative opportunity (such as a course, internship, job, event, grant, competition, apprenticeship, or accessibility scheme). Depending on the opportunity type you must extract ALL the key information.\n\nYou will be given the contents of a webpage and the type of opportunity to extract the details for. \n\nIMPORTANT: The very first line of your output MUST always be 'Category: ' followed by the opportunity type. The Category value must be exactly one of the following: Apprenticeship, Competition/Grant, Course, Freelance role, Internship, Junior full-time role, Junior part-time role, Mentoring, Opportunity, Runner role, Training scheme, Work experience, Event, Content or Resources, Article, Podcast, Video, Guide. Match the opportunity type you are given to the closest category from this list.\n\nIf you cannot find details for the relevant data, DO NOT EXCLUDE the data. Instead, write 'Unclear' as the value. NEVER use phrases like 'Not stated on the page', 'Not found', 'Not specified', 'Not mentioned', 'Not available', or 'N/A'. Always use the single word 'Unclear' when information cannot be determined.\n\nIMPORTANT - Deadline formatting: For the 'Application deadline' field, ONLY include the actual application or submission deadline as a single line (e.g. 'Application deadline: 11:59pm, Friday 1 May 2026'). Do NOT list multiple key dates such as launch dates, shortlist notification dates, exhibition dates, or awards ceremony dates under the deadline field. Those other dates can go in the 'Anything else important' field if relevant.\n\nCRITICAL - Deadline accuracy: If there is NO explicit application deadline, closing date, or 'apply by' date stated on the page, you MUST write 'Application deadline: Unclear'. Do NOT guess, estimate, or infer a deadline. Do NOT fabricate or make up a date. Many job postings have rolling applications with no deadline — these MUST be marked as 'Unclear'. Only include a specific date if it is explicitly written on the page as a deadline or closing date. Getting this wrong causes serious data quality issues.\n\nCRITICAL - Salary accuracy: You are being given RAW HTML from a webpage. Salary figures in the HTML may be split across multiple HTML tags or encoded as HTML entities (e.g. &pound; or &#163; for £). You MUST reconstruct the COMPLETE salary from the HTML source. A common error is dropping the leading digits — for example, outputting '3,392' when the actual salary is '£15,392'. UK apprenticeship and job salaries are typically £10,000–£30,000+ per year. If your extracted figure seems unusually low (e.g. under £5,000 for an annual salary), you have almost certainly missed leading digits — go back and re-read the HTML carefully. Rules: (1) Always include the currency symbol £. (2) Include ALL digits — do NOT drop leading digits. (3) If a range is given, include the full range (e.g. '£15,392 to £24,454.04'). (4) Include context like 'depending on your age' or 'National Minimum Wage' on the same line. (5) Look for salary data in HTML attributes, aria-labels, and structured data (JSON-LD, schema.org) as well as visible text. Getting salary figures wrong is a SERIOUS data quality issue that has happened before — double-check your output.\n\nCRITICAL - Important Details accuracy: When extracting the 'Anything else important' field, you MUST include ALL eligibility criteria, requirements, and key information from the page. Include specific details about: qualifications needed, experience required, right to work requirements, DBS checks, age requirements, location requirements, start dates, and any other conditions the applicant must meet. Do NOT summarise or omit details — copy the specific requirements as stated on the page.\n\nIMPORTANT - Eventbrite: If the URL of the opportunity contains 'eventbrite.com' or 'eventbrite.co.uk', the Category MUST always be set to 'Event', regardless of the opportunity type provided. Use the Events expected output format for these opportunities.\n\nAll opportunity types have a number of tags that are to be set against each. Detailed below is the information relating to those tags and the rules to follow for determining what each tag should be set to\n\n# Tags\n\n## Industry\nThis relates to the creative industry/industries that the opportunity is in. Select up to a maximum of 3 tags from the comma separated list Industry Tags below. If cannot determine 1-3 tags to be used default the Industry Tag to ‘All Creative Industries’\n\n### Industry Tags\nActing, Advertising, Animation, Architecture, Arts, Audio, Comedy, Content Creation, Craft, Culture, Dance, Design, Digital, Directing, E-Sport, Fashion, Film, Gaming, Graphic Design, Heritage, Journalism, Marketing, Media, Museum, Music, Performing Arts, Photography, Podcasting, PR, Presenting, Publishing, Radio, Social Media, Theatre, TV, UX/UI Design, VFX, Videography, Visual Art, Writing\n\nIMPORTANT: You MUST only select tags from the list above. Do NOT invent or create new industry tags (e.g. do NOT use 'Drawing & Painting', 'Illustration', 'Fine Art' etc). If the opportunity relates to drawing, painting, or illustration, use 'Visual Art' or 'Arts' from the approved list.\n\n## Age\nExtract what ages the opportunity if for. Select all relevant age tags from the comma separated list Age Tags below. Including the exact age and the age ranges If you cannot determine what age the opportunity is for select: ‘All ages’, ‘Over 18’, ‘Under 18’ and ‘Over 25’ by default\n\n### Age Tags\nAll ages, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, Over 18, Under 18, Over 25, 16 and under\n\n## Gender & Sexual Preference\nThis relates to what gender, sexual preference, or how a person identifies to be selected. Select all relevant tags if the opportunity specifies one or more from the comma separated list Gender Tags below. If none are specified, or you cannot determine what to select. Default to selecting ALL the tags.\n\nIMPORTANT: If the opportunity is specifically aimed at or mentions any of the following groups, you MUST select the 'LGBTQIA+' tag (do NOT default to 'All genders & preferences'): transgender, trans, non-binary, queer, gay, lesbian, bisexual, intersex, asexual, gender non-conforming, gender diverse, or any other LGBTQIA+ identity. For example, an opportunity for 'transgender artists' must be tagged as 'LGBTQIA+', not 'All genders & preferences'.\n\nSimilarly, if an opportunity is specifically for women or female-identifying people, select 'She/Her'. If specifically for men or male-identifying people, select 'He/Him'. If specifically for non-binary people, select 'They/Them'. Only use 'All genders & preferences' when the opportunity has NO specific gender or identity focus.\n\nCRITICAL - Gender vs disability: Do NOT confuse disability targeting with gender targeting. 'Neurodivergent women' means gender is 'She/Her' (because women) and disability is 'Neurodiversity' (because neurodivergent). It does NOT mean LGBTQIA+. Only use LGBTQIA+ when the opportunity explicitly mentions LGBTQIA+ identities like queer, trans, non-binary, gay, lesbian, bisexual etc.\n\n### Gender Tags\nAll genders & preferences , He/Him, LGBTQIA+, She/Her, They/Them\n## Ethnicity\nExtract what Ethnicity the opportunity is for, for example ‘White British’. Select all the relevant tags from the comma separated list Ethnicity Tags below. If you cannot determine which specific tags to select. Select all the tags by default.\n\n## Ethnicity Tags\n‘All ethnicities’, ‘African, Caribbean or Black British’, ‘Arab’, ‘Asian or Asian British’, ‘Mixed or Multiple Ethnic Group’, ‘Other Ethnic Group’, ‘White or White British’ \n\n## Disability\nAn opportunity might be for a person with a certain disability. If you can find this then select the relevant tag or tags from the comma separated list Disability Tags below. If you cannot determine which specific tags to select. Select all the tags by default.\n\nCRITICAL - Disability accuracy: If the opportunity content mentions neurodivergent, neurodiversity, autistic, autism, ADHD, AuDHD, dyslexic, dyslexia, dyspraxia, Asperger's, dyscalculia, dysgraphia, Tourette's, or sensory processing, you MUST select 'Neurodiversity' specifically — do NOT default to 'All disability'. Similarly, if it mentions wheelchair, blind, deaf, physical disability, or mobility, select 'Physical disability'. If it mentions mental health, anxiety, depression, PTSD, or bipolar, select 'Mental health'. If it mentions chronic illness, fibromyalgia, Crohn's, lupus, epilepsy, diabetes, or MS, select 'Chronic illness'. Only use 'All disability' when no specific disability type is mentioned or targeted.\n\n### Disability Tags\nAll disability, Chronic illness, Mental health, Neurodiversity, Physical disability\n\n## Lower Socio Economic Background\nAn opportunity might be for a person from a certain lower socio or social economic background. If you can find this then select the relevant tag or tags from the comma separated list Economic Background Tags below. If you cannot determine which specific tags to select. Select all the tags by default.\n\n## Economic Background\n‘All backgrounds’, ‘Only those from lower socio-economic background’\n\n## Remote\nAn opportunity might be for a remote role. If you can find this then set this tag to ‘Yes’. Otherwise always default this tag to ‘No’\n\n## UK-Wide\nAn opportunity might be open for the entire UK. If you can find this then set this tag to ‘Yes’. Otherwise always default this tag to ‘No’.\n\n## Region\nAn opportunity might be only be available for certain areas in the UK. If this region or area is specified in the opportunity, selected all the relevant tags from the comma separated list Region Tags below. If the opportunity is a remote opportunity, select all the tags. If the opportunity is UK-Wide, select all the tags.\n\nCRITICAL - Region accuracy: If the opportunity is an in-person event or role at a specific physical location (e.g. Edinburgh, Manchester, London), you MUST select ONLY the single region where that location is. For example: Edinburgh = 'Scotland', Manchester = 'North West', Bristol = 'South West', Birmingham = 'West Midlands'. Do NOT select all regions for an in-person opportunity at a specific venue. Only select multiple or all regions when the opportunity is explicitly remote, UK-wide, or available across multiple named regions.\n\n### Region Tags\nNorth East, North West, Yorkshire and the Humber, East Midlands, West Midlands, East of England, London, South East, South West, Wales, Scotland, Northern Ireland\n\nDetailed below is the information you must extract for each opportunity type. \n\n# Apprenticeship \n## Description\nThis is a form of experience that is a combination of full-time job with academic training. It usually ends with the apprentice getting a qualification if completed successfully.\n\n## Expected Output\n-Category (must be 'Apprenticeship')\n-Salary\n-Length of apprenticeship \n-Level of apprenticeship \n-Application deadline\n-Location (with the first letter capitalised and the rest lower case e.g. London or Newton Abbot)\n-Anything else important (eligibility criteria, qualifications needed)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Competition/ Grant \n## Description\nAnyone who applies can win a prize (money, a prize etc).\n\n## Expected Output\n-Category (must be 'Competition/Grant')\n-Application deadline\n-Location \n-Anything else important (eligibility criteria, is it free to enter)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Course \n## Description\nA series of workshops/ sessions done over a period of time where you are taught a new skill/ set of skills.\n\n## Expected Output\n-Category (must be 'Course')\n-Length of course (e.g. 2 weeks)\n-Course type (is it paid or free?)\n-Application deadline\n-Location \n-Anything else important (eligibility criteria, specific dates etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Freelance Role \n## Description\nA form of employment where you are “self-employed”. It's usually a short-term contract.\n\n## Expected Output\n-Category (must be 'Freelance role')\n-Salary\n-Application deadline\n-Location \n-Anything else important (specific dates you need to be available, experience etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Internship \n## Description\nA chance to gain new skills/ experience, kind of like an entry-level job, but is for a set period of time. Can range from a couple of weeks to a year!\n\n## Expected Output\n-Category (must be 'Internship')\n-Length of internship & start date/ month\n-Salary\n-Application deadline\n-Location \n-Anything else important (eligibility, experience needed etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Junior Full-Time Role \n## Description\nA regular job that usually requires some experience.\n\n## Expected Output\n-Category (must be 'Junior full-time role')\n-Experience needed\n-Salary\n-Location\n-Application deadline\n-Anything else important (work perks etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Junior Part-Time Role\n## Description\nA regular job that usually requires some experience that is part-time\n\n## Expected Output\n-Category (must be 'Junior part-time role')\n-Experience needed\n-Salary\n-Location \n-Application deadline\n-Anything else important (specific hours/ days you’ll work, work perks etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Mentoring \n## Description\nThis opportunity is when the focus is to set goals, get support with your career etc, usually on a 1-to-1 basis with a professional or expert.\n\n## Expected Output\n-Category (must be 'Mentoring')\n-Application deadline\n-Location \n-Anything else important (eligibility, length etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Opportunity \n## Description\nAn opportunity type that combines more than one thing/ something that doesn’t fit into one thing.\n\n## Expected Output\n-Category (must be 'Opportunity')\n-Application deadline\n-Location (city/ hybrid/ remote)\n-Anything else important (eligibility, experience needed etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Runner Role \n## Description\nA Runner is a general assistant on a film/ TV set, working under the direction of other production staff and supporting the team.\n\n## Expected Output\n-Category (must be 'Runner role')\n-Application deadline\n-Location\n-Anything else important (eligibility, experience needed, salary etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Training Scheme \n## Description\nThis is similar to a course or internship, but the key difference is that the applicant has access to a mixture of training/ a support programme/ shadowing to develop a variety of skills.\n\n## Expected Output\n-Category (must be 'Training scheme')\n-Length of training scheme (weeks, months etc, plus specific dates if they have them)\n-Training scheme type (will you be paid or is it free?)\n-Application deadline\n-Location \n-Anything else important (eligibility criteria, specific dates etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Work Experience\n## Description\nUsually up to a month and is all about skill development/ gaining experience.\n\n## Expected Output\n-Category (must be 'Work experience')\n-Title\n-Short summary\n-Length (weeks, months etc, plus specific dates if they have them)\n-Application deadline\n-Location \n-Anything else important (eligibility criteria, specific dates etc.)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n\n# Events \n## Description\nSelf-explanatory, but it's a workshop/ session/ talk.\n\n## Expected Output\n-Category (must be 'Event')\n-Event start time\n-Event end time (optional)\n-Event date\n-Location \n-Anything else important (eligibility criteria, ticket price etc)\n-Link (with this UTM at the end: ?utm_source=www.meet-eric.com)\n-Industry (see Industry tagging process)\n-Age (see Age tagging process)\n-Gender & Sexual Preference (see Gender & Sexual Preference tagging process)\n-Ethnicity (see Ethnicity tagging process)\n-Disability (see Disability tagging process)\n-Economic Background (see Lower Socio Economic Background tagging process)\n-Remote (see Remote tagging process)\n-UK Wide (see UK-Wide tagging process)\n-Region (see Region tagging process)\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        928,
        1312
      ],
      "id": "267b3d3b-6de9-45e2-91af-7b68b670a80a",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"FriendlyName\": \"example-friendly-name\",\n\t\"Output\": \"ALL the relevant data for the opportunity\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1088,
        1536
      ],
      "id": "e888f220-9b1e-4357-8507-8b0f8428b8eb",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $json.output.Output }}",
        "name": "={{ $json.output.FriendlyName }}.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1NSsJLDQMYRiz-tX8LlN-ToNKBYRWV84F",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        1424
      ],
      "id": "b28c161f-405e-401f-bf75-921cddfdb859",
      "name": "Save Output",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "5S2xfyF9F7DDfqyM",
          "name": "ERIC - tech@meet-eric.com"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1m-L1I8x4AFvQwXNnLpr5DmQYl4L0ivNVddDk-BBV2dU",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Backlog",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1m-L1I8x4AFvQwXNnLpr5DmQYl4L0ivNVddDk-BBV2dU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Get To Upload').item.json.row_number }}",
            "Status": "Error"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Opportunity",
              "displayName": "Opportunity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Document Name",
              "displayName": "Document Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1024,
        1712
      ],
      "id": "7361f3dd-fbff-4eb5-ba34-fa1fea4251b5",
      "name": "Record Error",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HcWauGdX0uTMT6CH",
          "name": "ERIC - tech@meet-eric.com"
        }
      }
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        960,
        1536
      ],
      "id": "6dccbca0-03db-4b43-b6ab-d6d0892294a7",
      "name": "OpenAI 4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "NQbTGBC0qcMX1Run",
          "name": "ERIC OpenAI"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        256,
        1568
      ],
      "id": "2a1f9554-2bf8-4425-84a3-e33eaf70be36",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 0-7 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        928
      ],
      "id": "8569581b-85ad-40f0-926b-d1faa7b93485",
      "name": "00-08, Mon-Fri5",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 0-7 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        1056
      ],
      "id": "0a1d8c90-51fe-4ea8-9b66-a83700453b57",
      "name": "00-08, Mon-Fri1",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/10 0-7 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        1216
      ],
      "id": "e4624fec-1d36-4fa0-b2cb-37e4be40e74a",
      "name": "00-08, Mon-Fri6",
      "disabled": true
    }
  ],
  "pinData": {},
  "connections": {
    "Get URL": {
      "main": [
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Record Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get To Upload": {
      "main": [
        [
          {
            "node": "Get URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Save Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Data",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Save Output": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI 4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Data",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get To Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "418cd10d-6577-4f61-bdbb-bd99c3977971",
  "meta": {
    "instanceId": "9a0f934c68cbf0a7c199330b8810b13377755552ad8df913d541de113fe4bcb1"
  },
  "id": "hUUmEX9Iv7VJ5rXs",
  "tags": [
    {
      "updatedAt": "2025-07-10T05:31:21.799Z",
      "createdAt": "2025-07-10T05:29:49.269Z",
      "id": "tnJ4UkjL3wnSKTtZ",
      "name": "Opportunities"
    }
  ]
}